html {
  font-size: 14px;
}
a {
  text-decoration: none
}
a:active {
  color: #000000
}
ol, ul, li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

.scrollBar {
  overflow-x: hidden;
  overflow-y: hidden;
}
.scrollBar:hover {
  overflow-y: auto;
}
.scrollBar::-webkit-scrollbar{
  width: 5px;height: 5px;
  border-radius: 6px;
}
.scrollBar::-webkit-scrollbar-thumb{
  border-radius: 6px;
  box-shadow: inset005pxrgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
.scrollBar::-webkit-scrollbar-track{
  box-shadow: inset005pxrgba(0,0,0,0.2);
  border-radius: 6px;
  background: rgba(0,0,0,0.1);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #1f2f3d;
}
.code {
  width: 80%;
  font-size: 12px;
  padding: 18px 24px;
  background-color: #fafafa;
  border: 1px solid #eaeefb;
  margin-top: 20px;
  border-radius: 4px;
  .line {
    margin-bottom: 10px;
  }
  .keyword { color: #008dff; }
  .punctuation { color: #999999; }
  .string { color: #0b8235; }
  .function { color: #f81d22; }
}
